@import "ProfileSignUp/ProfileSignUp";

.MainProfile {
  min-height: calc(100vh - 70px);
  background-color: $primary-grey;
  padding-top: 40px;
}

.MainProfile--middle {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
}
