@import "ChatSection/ChatSection";
.PrivateChat {
  background-color: $primary-grey;
  min-height: 100vh;
}

.PrivateChat__body {
  width: 1300px;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
}

.PrivateChat__left {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.PrivateChat__middle {
  width: 500px;
  margin-left: 50px;
}

.PrivateChat__right {
  width: 350px;
}
