@import "GroupSearch/GroupSearch";
@import "Filter/Filter";
@import "ChatGroups/ChatGroups";

.Home {
  background-color: $grey-background;
  height: 100vh;
}

.Home__body {
  width: 1300px;
  margin: 0 auto;
  display: flex;
}
