@import "FriendRequest/FriendRequest";

.notification-icon {
  font-size: 15px !important;
}
.FriendRequest__dropdown {
  width: 12rem;
  padding: 10px 10px;
}

.FriendRequest {
  position: relative;
}
.FriendRequest__total-notifications {
  position: absolute;
  left: 70%;
  top: 2px;
  font-size: 13px;
}
.FriendRequest__friend-requests-header {
  font-size: 20px;
}

.FriendRequest__friend-requests-list {
  list-style: none;
}
