.MessageRequest {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5px;
}

.MessageRequest__image-container {
  width: 30px;
  height: 30px;
}

.MessageRequest__image {
  width: 100%;
}
.MessageRequest__friend-name {
  text-align: center;
}

.MessageRequest__lower-section {
  display: flex;
  justify-content: space-between;
}
