@import "Join/Join";

.Landing {
  min-height: 100vh;
  background: url("./assets/images/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.Landing__body {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Montserrat", sans-serif;
  left: 0;
  width: 100%;
  text-align: center;

  @media screen and (max-width: 800px) {
    position: static;
    transform: none;
    padding-top: 80px;
  }
}

.Landing__text-area {
  padding-bottom: 50px;
}
.Landing__container {
  @media screen and (max-width: 800px) {
    width: 99% !important;
    max-width: none !important;
  }
}

.Landing__header {
  font-size: 27px;
  font-weight: 700;
  line-height: 1.25em;
  color: #333333;
  margin-top: 24px;
  margin-bottom: 24px;

  @include for-desktop-up {
    font-size: 38px;
  }
}

.Landing__sub-header {
  font-weight: normal;
  line-height: 24px;
  font-size: 16px;
}
