@import "MessageRequest/MessageRequest";

.globe-icon {
  font-size: 15px !important;
}
.MessagesDropDown__dropdown {
  width: 12rem;
  padding: 10px 10px;
}

.MessagesDropDown {
  position: relative;
}
.MessagesDropDown__total-notifications {
  position: absolute;
  left: 70%;
  top: 2px;
  font-size: 13px;
}
.MessagesDropDown__friend-requests-header {
  font-size: 20px;
}

.MessagesDropDown__friend-requests-list {
  list-style: none;
}
