@import "ChatSection/ChatSection";
@import "OnlineGroupMembers/OnlineGroupMembers";

.GroupChat {
  background-color: $primary-grey;
  min-height: 100vh;
}

.GroupChat__body {
  width: 1300px;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.GroupChat__left {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.GroupChat__middle {
  width: 500px;
}

.GroupChat__right {
  width: 350px;
}
