$primary-dark: #3f4257;
$navitem-color: #424242;

$primary-grey: #e6ecf5;
$primary-blue: #0099ff;
$primary-orange: #ff5e3a;
$primary-purple: #7c5ac2;

$primary-black: #515365;

$danger: #dc3545;
$disabled: #9a9fbf;
//widths
$navbar-to-mobile-width: 620px;
$sidenav-disappear-width: 700px;
$newsfeed-card-max-width: 618px;
