.ProfileSection__menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ProfileSection__menu-item {
  color: #515365;
  font-size: 14px;
  font-weight: 700;
  display: block;
}
